@model Dictionary<int, int?>

<ul class="salaries">
@foreach (var item in Model)
{
    string yearEnding = LocalizationResx.EndAfterFour;
    <li>
        @if (item.Key < 10 || item.Key > 20)
        {
            switch (item.Key % 10)
            {
            case 1:
                yearEnding = LocalizationResx.FirstEnd;
                break;
            case 2:
                yearEnding = LocalizationResx.SecondEnd;
                break;
            case 3:
                yearEnding = LocalizationResx.ThirdEnd;
                break;
            default:
                yearEnding = LocalizationResx.EndAfterFour;
                break;
            }
        }
        @Html.LabelFor(m => m[item.Key], item.Key.ToString() + '-' + yearEnding + ' ' + LocalizationResx.Year)
        @Html.EditorFor(m => m[item.Key], new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m[item.Key], "", new { style = "display:none", hidden="true" })
    </li>
}
</ul>