@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Resx = Localization.Resources.Views.TestLocalication.TestLocalization;

<ul>
    <li>@Html.ActionLink("Українська", "ChangeCulture", "TestLocalization", new { lang = "uk-UA", returnUrl = Url.Encode(Request.RawUrl) }, null)</li>
    <li>@Html.ActionLink("English", "ChangeCulture", "TestLocalization", new { lang = "en-US", returnUrl = Url.Encode(Request.RawUrl) }, null)</li>
</ul>

<h1>@Resx.Test</h1>