.highcharts-container, .highcharts-title {
    max-height: 400px;
}
.highcharts-title
{
    font-size: small !important;
}
.chartWrapper
{
    margin-top: 10px;
}
.form-wrapper
{
    text-align: center;
    margin: 0 100px;
}
    select
    {
        width: 300px !important;
        text-align: center;
        margin: 5px auto;
    }