@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@model SpecialityViewModel

    @using (@Html.BeginForm("Save", "BackOffice", FormMethod.Post, new { @role="form" }))
    {
        <h3>EditSpecialities</h3>
        <input type="button" id="exit"/>
        <table class="salaries">
            <tr>
                <td>Спеціальність: </td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>Зарплати:</td>
                <td></td>
            </tr>            
            @foreach (var item in Model.Salaries)
            {
                <tr>
                    <td>@{@item.Key}-й рік</td>
                    <td>@Html.EditorFor(m => m.Salaries[item.Key], new { @class = "form-control" })</td>
                </tr>
            }
            </table>
            <button type="submit" class="btn btn-default">Зберегти</button>
    }