@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@model List<SpecialityViewModel>

@{
    ViewBag.Title = "Specialities";
}

<h2>Specialities</h2>

<ol>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "EditSpecialities", "BackOffice", new { id = item.Id }, new { @class = "btn btn-default" })</li>

        <br>
    }
</ol>
