.highcharts-title
{
    font-size: small !important;
}

.chartWrapper
{
    height: auto;
    margin-top: 10px;
    width: 100%;
    height: 40%;
}

#chart-container
{
    padding: 20px;
    width: 50%;
    float: right; 
    padding-top: 0;
}

.form-wrapper
{
    width: 50%;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}

select
{
    margin: 5px auto;
    text-align: center;
    width: 300px !important;
}

.highcharts-container>svg>:last-child, .highcharts-button
{
    display: none;
}

.highcharts-container>svg
{
    float: right;
}
@media (max-width: 768px){
    .form-wrapper {
        float: none !important;
        width: 100%;
        text-align: center;
    }
    #chart-container {
      padding: 20px;
      width: 100%;
      padding-top: 0;
    }
}