.highcharts-title
{
    font-size: small !important;
}

#js-changeInput
{
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 30px;
    width: 200px;
}

.chartWrapper
{
    float: left;
    height: 100%;
    margin-top: 10px;
    width: 50%;
}

.panel
{
    box-shadow: none;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    padding-top: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    background-image: url(Images/subtle_dots.png);
    top: 40px;
}

select
{
    margin: 5px auto;
    width: auto !important;
    max-width: 500px;
}

.highcharts-container>svg>:last-child, .highcharts-button
{
    display: none;
}

.highcharts-container>svg
{
    float: right;
}

#greeting h3
{
    text-align: center;
}

#greeting
{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 800px){
    .chartWrapper
    {
        display: inline-block;
        height: auto;
        margin-top: 10px;
        width: 100%;
        height: 90%;
    }
}

#selectedSpeciality {
    margin-bottom: 0;
    margin-top: 15px;
}

.customLegend {
    position:relative;
    top: -5px;
}

    .customLegend legend {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .customLegend .item {
        clear: both;
        display: inline-table;
        height: 18px;
        margin: 0 10px 0 0;   
    }

    .customLegend .nonVisible {
        color: #CCC;
    }

    .customLegend .symbol {
        border-radius: 50%;
        cursor: pointer;
        float: left;
        height: 8px;
        margin-right: 4px;
        margin-top: 5px;
        width: 8px;
        -webkit-border-radius: 50%;
    }
    .customLegend .serieName {
        cursor: pointer;
        float: left;
        line-height: 16px;
        word-break:normal;
        word-wrap:break-word;
    }

.payment {    
    display: inline-block;
    width: 40%;
}

.payment+.item {
    float: right;
    padding-top: 26px;
    padding-right: 5%;
    position: relative;
    right: 10%;

}

    .payment .item {
        float:left;
    }

#chart-container {
    padding: 0;
    height: calc(100% - 170px);
    max-height: 85%;
    top: 160px;
    margin-top: -35px;
}
#js-loading-screen.active
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255, 0.75);
}

.serieName {
    font-size: 0.8em;
}

#input {
    max-height: 620px;
}