body
{
    overflow-y: hidden;
}

@media (max-height: 550px)
{
    body
    {
        overflow-y: scroll;
        background-color: #F9F9F9;
    }
}

#greeting-wrapper {
    width: 35%;
    margin: 0 auto;
    border: 1px solid red;
}

.highcharts-title
{
    font-size: small !important;
}

#js-changeInput
{
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 30px;
    width: 200px;
}


.chartWrapper
{
    float: left;
    height: 100%;
    margin-top: 10px;
    width: 50%;
}

.panel
{
    box-shadow: none;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    padding-top: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    top: 35px;
    background-color: transparent;
}

select
{
    margin: 5px auto;
    width: auto !important;
    max-width: 500px;
}
@media (max-width: 500px) {
    select{
        max-width: 100%;
    }
}

.highcharts-container>svg>:last-child, .highcharts-button
{
    display: none;
}

.highcharts-container>svg
{
    float: right;
}

#greeting h3
{
    text-align: center;
    font-size:35px;
}

#greeting
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

    #greeting p {
        width: 100%;
    }

@media (max-width: 800px){
    .chartWrapper
    {
        display: inline-block;
        height: auto;
        margin-top: 10px;
        width: 100%;
    }
    body{
        overflow-y: scroll;
    }
}

#selectedSpeciality {
    margin-bottom: 0;
    margin-top: 15px;
}

.customLegend {
    position:relative;
    top: -5px;
}

    .customLegend legend {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .customLegend .item {
        clear: both;
        display: inline-table;
        height: 18px;
        margin: 0 10px 0 0;   
    }

    .customLegend .nonVisible {
        color: #CCC;
    }

    .customLegend .symbol {
        border-radius: 50%;
        cursor: pointer;
        float: left;
        height: 8px;
        margin-right: 4px;
        margin-top: 5px;
        width: 8px;
        -webkit-border-radius: 50%;
    }
    .customLegend .serieName {
        cursor: pointer;
        float: left;
        line-height: 16px;
        word-break:normal;
        word-wrap:break-word;
    }

.payment {    
    display: inline-block;
    width: 40%;
}

.payment+.item {
    float: right;
    padding-top: 26px;
    padding-right: 5%;
    position: relative;
    right: 10%;

}

    .payment .item {
        float:left;
    }

#chart-container {
    padding: 0;
    height: calc(100% - 170px);
    max-height: 85%;
    top: 173px;
    margin-top: -35px;
}
#js-loading-screen.active
{
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: 1000;
    background: rgba(255,255,255, 0.75);
}

.serieName {
    font-size: 0.8em;
}

#input {
    max-height: 620px;
}

.teal.accent-4 {
    background-color: #5BB957 !important;
     color: white;
}
.greeting {
    font-size:18px;
}
a#commit {
    padding: 7px 12px;
}

.advanced {
    display:none;
}

#partialView {
    background-color: rgba(32, 32, 32, 0.81);
    display: none;
    height: 100%;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#inner {
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    min-height: 20%;
    min-width: 525px;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    top: -100px;
    width: 600px;
}

article.right {
    float:right;
    width:40%;
}

article.left {
    float:left;
    width: 40%;
    height: 80%;
}
#inner 
{
    line-height:0.4;
    font-size:14px;
    top:-53px;
    height:630px;
}
input[type='number'] 
{
    font-size:14px;
}
label {
    font-size:13px;
}
h4 {font-size:16px;
}
h2 {padding-top:5px;
}

input#exitButton {
    margin-right:3px;
}
div#buttons {
    position: relative;
    top: 64px;
    left: 230px;
}
input#exitButton {
    border-style:none;
}
p#nameOfSpeciality {
    font-size: 16px;
    padding-top: 5px;
}
button#calculate {
    border-style:none;
}
#nameOfSpeciality {
    line-height:1.3;
}
button#reset {
   background-color: rgba(244, 245, 249, 0.01);
color: black;
}
#exit:hover{
    color: red;
    opacity: 0.8;
}
#exit{
    opacity: 0.6;
    color: gray;
    float: right;
    height: 15px;
    margin-top: 10px;
    padding: 0;
    width: 15px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    text-shadow: none;
}
.close {
    float: right;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
}