body
{
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(Images/subtle_dots.png);

}
#content
{
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.profiler-results
{
    opacity: 0.05;
}
.profiler-results:hover
{
    opacity: 1;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.inline-block
{
    display: inline-block;
}
.mobile-localization-changer a img {
  padding: 12px;
}
nav{
    min-width: 320px;
    z-index: 1000;
    margin: 0 !important;
}

.navbar.navbar-default
{
    background: black;  
    height: 60px;
    line-height: 80px;

}

a.navbar-brand
{
    line-height: 60px;
    height: 6px;
}

li a.changeLanguage
{
    line-height: 55px;
        height: 55px;
    font-family: myriad;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
}

@font-face
{
    font-family: marckScript;
    src: url(fonts/MarckScript-Regular.ttf);
}

@font-face
{
    font-family: myriad;
    src: url(fonts/MYRIADPRO-REGULAR.woff);
}

.navbar-brand
{
    font-family: marckScript;
    font-size: 30px;
}
.error-text
{
    color: red;
}

.container-fluid 
{
    margin-top:-10px;
}

@media (min-width: 768px) {
    .mobile-localization-changer{
        display: none;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
