body
{
    min-width: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#content
{
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.profiler-results
{
    opacity: 0.05;
}
.profiler-results:hover
{
    opacity: 1;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.inline-block
{
    display: inline-block;
}
.mobile-localization-changer a img {
  padding: 12px;
}
nav{
    z-index: 1000;
    margin: 0 !important;
}
@media (min-width: 768px) {
    .mobile-localization-changer{
        display: none;
    }
}