body
{
    min-width: 330px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #F9F9F9;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#content
{
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.profiler-results
{
    opacity: 0.05;
}
.profiler-results:hover
{
    opacity: 1;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.inline-block
{
    display: inline-block;
}
.mobile-localization-changer a img {
  padding: 12px;
}
nav{
    min-width: 330px;
    z-index: 1000;
    margin: 0 !important;
}

.navbar.navbar-default
{
    background: black;  
    height: 60px;
    line-height: 80px;

}

a.navbar-brand
{
    line-height: 60px;
    height: 6px;
}

li a.changeLanguage
{
    line-height: 55px;
        height: 55px;
    font-family: myrid;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
}

@font-face
{
    font-family: marckScript;
    src: url(fonts/MarckScript-Regular.ttf);
}

@font-face
{
    font-family: myriad;
    src: url(fonts/MYRIADPRO-REGULAR.woff);
}

.navbar-brand
{
    font-family: marckScript;
    font-size: 30px;
}
.error-text
{
    color: red;
}

.container-fluid 
{
    margin-top:-10px;
}

.collapsed-logout *
{
    color: white;
    padding-right: 10px;
}

@media (min-width: 768px) {

    .mobile-localization-changer{
        display: none;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width:530px) {
    .navbar-brand{
        display: none;
    }
}

.link
{
    margin-top: 17px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
nav ul a
{
    font-size: 13px !important;
}

.success
{
    color: green;
    margin-left: 0px;
}

.failure
{
    color: red;

    margin-left: 0px;
}

.cookies-off-wrapper
{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}
.cookies-off
{
    background: white;
    display:inline-block;
}
#job-year 
{
    line-height:22px;
}
    #job-year label {
        color:inherit;
        font:inherit;
    }
    input[type='number'] {
-moz-appearance: textfield;
}
.logo {
    width:50px;
    height:50px;
    background:url(/Content/Images/Icons/universe.png);
}
