@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?5759098');
  src: url('fonts/fontello.eot?5759098#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?5759098') format('woff'),
       url('fonts/fontello.ttf?5759098') format('truetype'),
       url('fonts/fontello.svg?5759098#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

#searchclear {
    bottom: 0;
    border-radius: 45%;
    color: #dcc;
    cursor: pointer;
    display: none;
    font-size: 14px;
    height: 20px;
    right: 20px;
    top: 0;
    width: 20px;
    line-height: 20px;
}
    #searchclear:hover {
        background-color: rgba(255, 153, 153, .6);
        color: #931E00;
    }
    #searchclear:disabled {
        display: none;
    }

.edited {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(8,170,0,1) !important;
    -moz-box-shadow: 0px 0px 10px 2px rgba(8,170,0,1) !important;
    box-shadow: 0px 0px 10px 2px rgba(8,170,0,1) !important;
}

h2 {
    text-align: center;
}

.clear {
    clear: both;
}

#editor article {
    width: 100%;
}

#editor li {
    display: block;
}

#editor .row *{
    width: 100px;
}

#search {
    border-bottom: 1px solid rgba(0,102,255, .9);
    padding-right: 20px;
}

    #search.success {
        border-bottom: 1px solid rgba(0, 250, 102, 1) !important;
        box-shadow: 0 10px 14px -5px rgba(0, 160, 250, 0.25) !important;
        color: inherit;
        -webkit-box-shadow: 0px 10px 14px -5px rgba(0,160,250,0.25) !important;
        -moz-box-shadow: 0px 10px 14px -5px rgba(0,160,250,0.25) !important; 
    }

    #search:focus{
        border-bottom: 1px solid rgba(0,102,255,1);
        box-shadow: 0px 10px 14px -5px rgba(0,102,255,0.25);
        -webkit-box-shadow: 0px 10px 14px -5px rgba(0,102,255,0.25);
        -moz-box-shadow: 0px 10px 14px -5px rgba(0,102,255,0.25);    
    }

#partialView, #deleteConfirm {
    background-color: rgba(32, 32, 32, 0.81);
    display: none;
    height: 100%;
    padding-left: 25%;
    padding-top: 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#inner, #delete-inner {
    background-color: white;
    border-radius: 3px;
    margin: 0;
    min-height: 20%;
    min-width: 525px;
    padding-bottom: 1%;
    padding-left: 2%;
    position: relative;
    top: 0;
    width: 70%;
}
#delete-inner{
    left: 45%;
    line-height: 24px;
    margin-left: -190px;
    margin-top: -90px;
    min-height: 180px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 380px;
}
.loading #inner {
    background-image: url("Images/ajax-loader.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#inner h2 {
    margin-bottom: 16px;
    text-align: center;
}

#inner h4 {
    margin-bottom: 16px;
}

#inner label {
    margin-left: 5px;
}

form {
    padding: 3px;
}

    form input {
        margin-left: 5px;
        max-width: 75%;
        padding: 1px 2px;
        width: 70%;
    }

    form input:focus {
        border-style: solid;
        border-color: rgba(0, 153, 153, .4);
    }

    form button {
        margin-left:2%;
        margin-right: 30px;
        width:15%;
    }
        form button:disabled {
            background-color: #ccc;
            border-color: #bbb;
        }

#exitButton {
    width:15%;
}

.row {
    margin-top:2%;
    margin-right:2%;
}

#exit, #delete-confirm-exit {
    opacity: 0.6;
    color: gray;
    float: right;
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0;
    width: 15px;
}
#exit:hover, #delete-confirm-exit:hover{
    color: red;
    opacity: 0.8;
}
#delete-confirm-exit{
    margin: 0;
}
.table {
    font-size: 1em;
    width:500px;
    margin:0 auto;
}

    .table tr:nth-child(odd) {
        background-color:rgb(167, 167, 179);
    }

    .table td {
        padding:1%;
        text-align:center;
    }
    .table td:hover {
        background-color:rgba(0, 153, 153, .2); 
        cursor:pointer;
    }

.salaries {
    font-size: 1em;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    min-width: 250px;
}

.salaries label {
    min-width: 60px;
}

.specButton {
    padding: 1%;
}

.cardWrapper {
    box-sizing: content-box;
    display: inline-block;
    max-width: 440px;
    min-width: 240px;
    padding: 15px;
}

.card
{
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    height: 120px;
    max-width: 300px;
    min-width: 100px;
    text-align: center;
    width: 100%;
}

.card:hover
{
    cursor: pointer;
}

    .card h4::before {
        font-family: "fontello";
        font-style: normal;
        font-size: 16px;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */
        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;
        /* You can be more comfortable with increased icons size */
        /* font-size: 120%; */
        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

.card span
{
    color: green;
    display: block;
    font-family: myriad;
    font-size: 24px;
    margin-top: 42px;
}

.salary-wrapper, .payment-wrapper
{
    margin-top: 16px;
}    
    .salary-wrapper h4 {
        color: #044004;
    }
        .salary-wrapper h4::before {
            color: #003000;
            content: '';
            position: relative;
            top: -1px;
        }
    .payment-wrapper h4 {
        color: #200404;
    }

    .payment-wrapper  h4::before {
            color: #160000;
            content: '';
            position: relative;
            top: -1px;
        }
.name
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid grey;  
    font-size: 16px;
    font-weight: bold;
}

.ttip
{
    background-color: lightgrey;
    border-radius: 2px;
    display: none;
    height: 120px;
    left: 0;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 50;
}

.ttip span
{
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}


.boxShadow17 {
  border-radius: 2px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.search
{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.search input
{
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 300px;
}
.wrapperButton{
    display: inline;
}
#wrapper {
    display: inline-block;
}
label[for="Name"], label[for="EnglishName"]
{
    min-width: 90px;
}
#editor {
background-color:inherit;
}
#addNew{
    background: rgba(4, 165, 35, 0.8);
}
#addNew span{
    color: white;
}
#addNew:hover{
    box-shadow: rgba(0,0,0,.6) 0 -3px 5px, rgba(252,255,255,.7) 0 3px 8px,  rgba(0,0,0,.8) 0 3px 8px -3px;
    background: rgba(0, 111, 21, 0.8);
}
.delete
{
    position: absolute;
    right: 5px;
    color: red !important;
    z-index: 500;
}
.deleteControls
{
    margin-top: 10px;
}
@media (max-width: 991px) {
    #addCard{ /*Dirty hack, but it seems like it is only way to fix this shit*/
        margin-bottom: -29px;
        position: relative;
        top: -28px;
    }
}

.btn-default {
    background-color: transparent;
    border: none;
}
.btn-default:hover {
    background-color: transparent;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border: none;
}