@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?5759098');
  src: url('fonts/fontello.eot?5759098#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?5759098') format('woff'),
       url('fonts/fontello.ttf?5759098') format('truetype'),
       url('fonts/fontello.svg?5759098#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
    overflow: scroll;
}

.salaries li input
{
    width: 80px;
    margin-left: 45px;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 7px;
    text-align: right;
    padding-right: 
}

.tuition-fee
{
    width: 100%;
}

.tuition-fee li input
{
    width: 80px;
    margin-left: 11px;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 7px;
    text-align: right;
}

.tuition-fee label
{
    min-width: 146px;
}
#searchclear {
    border-radius: 45%;
    bottom: 0;
    color: #dcc;
    cursor: pointer;
    display: none;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left: -18px;
    top: 0;
    width: 20px;
}
    #searchclear:hover {
        background-color: rgba(255, 153, 153, .6);
        color: #931E00;
    }
    #searchclear:disabled {
        display: none;
    }

.edited {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(8,170,0,1) !important;
    -moz-box-shadow: 0px 0px 10px 2px rgba(8,170,0,1) !important;
    box-shadow: 0px 0px 10px 2px rgba(8,170,0,1) !important;
}

h2 {
    text-align: center;
}

.clear {
    clear: both;
}

#editor article {
    width: 50%;
}

#editor li {
    display: block;
}

#search {
    border-bottom: 1px solid #00bfa5;
    padding-right: 20px;
    font-size: 16px;
}

    #search.success {
        border-bottom: 1px solid #00bfa5 !important;
        box-shadow: 0 10px 14px -5px rgba(0, 160, 250, 0.25) !important;
        color: inherit;
        -webkit-box-shadow: 0px 10px 14px -5px rgba(0,160,250,0.25) !important;
        -moz-box-shadow: 0px 10px 14px -5px rgba(0,160,250,0.25) !important; 
    }

    #search:focus{
        border-bottom: 1px solid #00bfa5;
        box-shadow: 0px 10px 14px -5px rgba(0,102,255,0.25);
        -webkit-box-shadow: 0px 10px 14px -5px rgba(0,102,255,0.25);
        -moz-box-shadow: 0px 10px 14px -5px rgba(0,102,255,0.25);    
    }

#partialView, #deleteConfirm {
    background-color: rgba(32, 32, 32, 0.81);
    display: none;
    height: 100%;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#inner, #delete-inner {
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    min-height: 20%;
    min-width: 525px;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    top: 0;
    width: 600px;
}
#delete-inner{
    left: 45%;
    line-height: 24px;
    margin-left: -190px;
    margin-top: -90px;
    min-height: 180px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 380px;
}
.loading #inner {
    background-image: url("Images/ajax-loader.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#inner h2 {
    margin-bottom: 16px;
    text-align: center;
}

#inner h4 {
    margin-bottom: 16px;
}

#inner label {
    margin-left: 5px;
}

form {
    padding: 3px;
}

form input {
    margin-left: 5px;
    max-width: 74.6%;
    padding: 1px 2px;
    width: 70%;
    font-size: 15px !important;
    padding-left: 6px !important;
}

form input:focus {
         box-shadow: 0 10px 14px -5px rgba(0, 158, 5, 0.2) !important;
        -webkit-box-shadow: 0px 10px 14px -5pxrgba(0, 158, 5, 0.2) !important;
        -moz-box-shadow: 0px 10px 14px -5px rgba(0, 255, 5, 0.2) !important; 
}

form button {
    margin-left:2%;
    margin-right: -3px;
}

form button:disabled {
    background-color: #ccc;
    border-color: #bbb;
}

.row {
    margin-top:2%;
    margin-right:2%;
    margin-bottom: 0px;
}

#exit, #delete-confirm-exit {
    opacity: 0.6;
    color: gray;
    float: right;
    height: 15px;
    margin-top: 10px;
    padding: 0;
    width: 15px;
}
#exit:hover, #delete-confirm-exit:hover{
    color: red;
    opacity: 0.8;
}
#delete-confirm-exit{
    margin: 0;
}
.table {
    font-size: 1em;
    width:500px;
    margin:0 auto;
}

    .table tr:nth-child(odd) {
        background-color:rgb(167, 167, 179);
    }

    .table td {
        padding:1%;
        text-align:center;
    }
    .table td:hover {
        background-color:rgba(0, 153, 153, .2); 
        cursor:pointer;
    }

.salaries {
    font-size: 1em;
    list-style: outside none none;
    margin: 0;
    min-width: 250px;
    padding: 0;
    width: 100%;
}

.salaries label {
    min-width: 60px;
}

.specButton {
    padding: 1%;
}

.cardWrapper {
    box-sizing: content-box;
    display: inline-block;
    max-width: 440px;
    min-width: 240px;
    padding: 15px;
}

.card
{
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    height: 120px;
    max-width: 300px;
    min-width: 100px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 1px 3px #C1C1C1;
    height: 167px;
}

    .card:hover
    {
        box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
    }

.card:hover .ttip
{
    display:block;
}

    .card div::before {
        margin-top: 10px;
        margin-left: 16px;
        font-family: "fontello";
        font-style: normal;
        font-size: 25px;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */
        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;
        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        /* You can be more comfortable with increased icons size */
        /* font-size: 120%; */
        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

.card span
{
    color: green;
    display: block;
    font-size: 23px;
    margin-top: 53px;
}

.material-icons
{
    font-size: 28px !important;
}

#addNew .name i
{
    display: block;
}

.detailName {
    margin-top: 6px;
}

#exitButton
{
    width: auto;
}

#saveButton, #createSpeciality
{
    background-color: rgba(4, 165, 35, 0.8);
    border: none;
}

.salary-wrapper
{
    border-bottom: 1px solid #F2F2F2;
}

.sal-pal-wrap
{
    padding-top: 12px;
}

.payment-wrapper h5
{
    margin-top: 6px;
}

.salary-wrapper h5
{
    margin-bottom: 10px !important;
}

    .salary-wrapper h5, .payment-wrapper h5
    {
        margin-bottom: 0px;
        margin-top: 6px;
    }

    .salary-wrapper h4, .payment-wrapper h4
    {
        margin-top: 7px;
        margin-bottom: -2px;
        font-weight: 600;
    }

    .salary-wrapper h4 {
        color: #044004;
    }
        .salary-wrapper::before {
            color: darkgrey;
            content: '';
            position: relative;
            top: -1px;
            float: left;
        }
    .payment-wrapper h4 {
        color: #200404;
    }

    .payment-wrapper::before {
            color: darkgrey;
            content: '';
            position: relative;
            top: -1px;
            float: left;
        }
.name
{
    bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #F2F2F2;
    overflow: hidden;
    position: absolute;
    right: 0px;
    text-align: center;
    left: 0px;
    font-weight: 600;
}

.ttip
{
    border-radius: 2px;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 50;
}

.ttip span
{
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    text-align: left;
    display: block;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 9px;
}


.boxShadow17 {
  border-radius: 2px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.search
{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.search input
{
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 300px;
}
.wrapperButton{
    display: inline;
}
#wrapper {
    display: inline-block;
}
label[for="Name"], label[for="EnglishName"]
{
    min-width: 90px;
}
#editor {
background-color:inherit;
}
#addNew{
    cursor: pointer;
}

    #addNew
    {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16),0 4px 16px 0 rgba(0,0,0,0.12);
    }

#addNew:hover
{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#addNew .name
{
    background-color: #5BB957;
}

.delete
{
    position: absolute;
    right: 5px;
    color: red !important;
    z-index: 500;
}
.deleteControls
{
    margin-top: 34px;
}
@media (max-width: 991px) {
    #addCard{ /*Dirty hack, but it seems like it is only way to fix this shit*/
        margin-bottom: -29px;
        position: relative;
        top: -28px;
    }
}

.btn-default {
    background-color: transparent;
    border: none;
}
.btn-default:hover {
    background-color: transparent;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border: none;
}

.material-icons
{
        color: white;
}

.teal.accent-4 {
    background-color: #5BB957 !important;
     color: white;

}

#Name
{
    margin-right: -22px;
    width: 398px;
    padding-right: 22px;
}

#EnglishName
{
    margin-right: -22px;
    width: 398px;
    padding-right: 22px;
}

#StartOfWorking
{
    width: 20%;
    text-align: right;
    width: 80px;
    margin-left: 167px;
}

