#partialView {
    background-color: rgba(32, 32, 32, 0.81);
    display: none;
    height: 100%;
    padding-left: 25%;
    padding-top: 8%;
    position: fixed;
    top: 0;
    width: 100%;
}

#inner {
    background-color: white;
    border-radius: 3px;
    margin: 0;
    padding-bottom: 1%;
    padding-left: 2%;
    min-height:20%;
    width: 70%;
}
.loading #inner {
    background-image: url("Images/ajax-loader.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

form {
    padding: 3px;
}

    form input {
        margin-left: 5px;
        max-width: 75%;
        padding: 1px 2px;
        width: 70%;
    }

    form input:focus {
        border-style: solid;
        border-color: rgba(0, 153, 153, .4);
    }

    form button {
        margin-top: 1%;
        margin-left: 40%;
    }

#exit {
    background-color: inherit;
    background-image: url("Images/elementsSprite.png");
    background-position: -38px -148px;
    background-repeat: no-repeat;
    background-size: 52px 244px;
    border-radius: 20%;
    border-style: none;
    float: right;
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0;
    width: 15px;
}

.table {
    font-size: 1em;
    width:500px;
    margin:0 auto;
}

    .table tr:nth-child(odd) {
        background-color:rgb(167, 167, 179);
    }

    .table td {
        padding:1%;
        text-align:center;
    }
    .table td:hover {
        background-color:rgba(0, 153, 153, .2); 
        cursor:pointer;
    }

.salaries {
    font-size: 1em;
    list-style: outside none none;
    margin: 0 auto;
    width: 70%;
}

.salaries label {
    min-width: 60px;
}

.specButton {
    padding: 1%;
}
