form {
    width:20%;
    margin: 0 auto;
}

    form h3 {
        margin-left:35%;
    }

    form button {
        width: 49%;
    }

    form a {
        width:49%;
    }

    #cancel:hover {
        text-decoration:none;
    }

.field-validation-error {
    color: red;
}