form {
    width:20%;
    margin: 0 auto;
}

    form h3 {
        margin-left:35%;
    }

    form button {
        width: 100%;
    }

    form a {
        width:49%;
    }

    #cancel:hover {
        text-decoration:none;
    }

.field-validation-error {
    color: red;
}

.validation-summary-errors ul li{
    list-style: none;
    color:red;
}

#Email, #Password
{
    font-size: 15px !important;
}
